@model MVCSamples.Models.ProductInShopsCheckboxViewModel
@{
    ViewData["Title"] = "Assortment";
}

<h1>Assortment</h1>

<form action="_2168657_Getting_back_empty_viewmodel/AssortmentSave" method="post">
    @for (var i = 0; i < Model.Checkboxes!.Count; i++)
    {
        <div class="[ form-group ]">
            @Html.HiddenFor(model => model.Checkboxes[i].ProductId)
            <label>@Html.CheckBoxFor(model => model.Checkboxes[i].IsSelected)</label> @Html.DisplayFor(model => model.Checkboxes[i].ProductName)
            <label>Bar code : @Model.Checkboxes[i].Barcode</label>
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Send email" class="btn btn-primary" />
    </div>
</form> 